.Input {
	padding: 20px;
}
.Input input {
	margin: 20px;
	padding: 10px;
	border-width: 0;
	border-bottom: 2px solid black;
	background-color: transparent;
	outline: none;
	font-size: 17px;
}
.Input :focus {
	border-bottom: 2px solid Blue;
}
.Input button {
	background-color: rgb(247, 153, 59);
	padding: 10px;
	border: ipx solid grey;
}
